@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.score { display: inline-block;border: 0;margin-right: 15px; align-self: center; margin: 2rem;}
.score > input {display: none;}
.score > label {float: right;color: #ddd}
.score > label:before {display: inline-block;font-size: 4rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.score .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.score input:checked ~ label, 
.score label:hover,.score label:hover ~ label { color: #e75c11 !important;  } 
.score input:checked + .score label:hover,
.score input input:checked ~ label:hover,
.score input:checked ~ .score label:hover ~ label,
.score label:hover ~ input:checked ~ label { color: #e75c11 !important;  }


html{
    height: -webkit-fill-available;
}

body{
    height: 70%;
}

main{
    margin-top:100px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-form{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
}

.login-container{
    width: 80%;
}


.review-button{
    background-color: #fa6616;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    align-self: center;
}

.review-button:hover{
    background-color: #e75c11;
    font-weight: 700;
}

.review-label{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}