{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/location.css' %}"/>
  <title>동네인증</title>
</head>
<body class="back-ye">
  <header>{% include "carrot_app/nav.html" %}</header>
  {% comment %} {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div {%if message.tags%} class="{{ message.tags}}" {% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %} {% endcomment %}

  {% include "carrot_app/nav.html" %}
  <div class="content-box">
    <div class="container column center">
      <div class="region-setting-box full-box">
        <label for="region-setting">동네 설정</label>
        <form method="POST" action="/set_region/" id="region-form">
          {% csrf_token %}
          <div class="flex-box full-box between region-input">
            <input type="text" id="region-setting" class="region-setting" name="region-setting"
              placeholder="예) 서울 강서구 화곡동" value="{% if region %}{{ region }}{% endif %}"/>
            <button type="submit" class="ghost-button orange region-setting" style="width=15%" id="set-region-button">
              {% if region %} 수정 {% else %} 저장 {% endif %}
            </button>
          </div>
        </form>
      </div>

      <div id="map" style="width:100%; height:468px; margin-top:44px;"></div>
      <h5 id="region-info">현재 위치</h5>
      <h5 id="region-judge"></h5>
      <form id="region-save-button" action="/set_region_certification/" class="full-box">
        {% csrf_token %}
        <button id="region-save-button" class="primary-button">동네인증하기</button>
      </form>
    </div>
  </div>
  <footer>{% include "carrot_app/footer.html" %}</footer>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=20408daa50c87fb6612c5ebb4c9149d7"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };
  
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // HTML5의 geolocation으로 사용할 수 있는지 확인작업
  if(navigator.gelocation) {
    // GeoLocation을 이용해서 접속 위치 정보 얻기
    navigator.gelocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude,   //위도
          lon = position.coords.longitude;  //경도

      // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성
      var locationPosition = new kakao.maps.LatLng(lat, lon); 
          // 인포윈도우에 표시될 내용
          message = '<div style="padding:5px;">현재위치</div>';
      
      displayMarker(locationPosition, message);

      //주소-좌표 변환 객체를 생성
      var geocoder = new kakao.maps.services.Geocoder();

      //주소로 좌표 검색
      var address = document.getElementById('input[name="region-setting"]').value;
      console.log(address);

      geocoder.addressSearch(address, function(result, status) {
        //정상작동
        if (status === kakao.maps.services.Status.OK) {
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
          // 결과값으로 받은 위치를 마커로 표시
          var marker = new kakao.maps.Marker({
            map: map,
            position : coords
          });

          //인포윈도우로 장소에 설명
          var infowindow = new kakao.maps.InfoWindow({
            content: address,
          });
          infowindow.open(map, marker);

          //지도의 중심을 결과값으로 받은 위치로 이동
          map.setCenter(coords);
        }
      });
    });
  } else {
    //사용할 수 없을 때 마커 표시 위치와 인포 윈도우 내용 설정
    var locationPosition = new kakao.maps.LatLng(33.450701, 126.570667),
        message = 'geolocation을 사용할 수 없습니다.'

    displayMarker(locationPosition, message);
  }

  //지도에 마커와 인포윈도우를 표시하는 함수
  function displayMarker(locationPosition, message) {
    //마커생성
    var marker = new kakao.maps.Marker({
      map: map,
      position: locationPosition
    })

    //인포윈도우에 표시할 내용
    var iwContent = message,
        iwRemoveable = true;

    var infowindow = new kakao.maps.InfoWindow({
      content : iwContent,
      removable : iwRemoveable
    });

    infowindow.open(map, marker);

    map.setCenter(locationPosition);
  }

  //버튼 이벤트 리스너
  let regionSaveButton = document.getElementById("region-save-button");

  document.getElementById("region-form").addEventListener("submit", function (e) {
    e.preventDefault();
  
    let region = document.querySelector('input[name="region-setting"]').value;
  
    if (region.trim()) {
      this.submit();
    } else {
      alert("지역을 입력해주세요");
    }
  });
  regionSaveButton.addEventListener("click", function () {
    alert("인증이 완료되었습니다");
  });
</script>

{% comment %} <script type="text/javascript" src="{% static 'js/location.js' %}"></script> {% endcomment %}
</html>