{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/location.css' %}"/>
  <title>동네인증</title>
</head>
<body class="back-ye">
  <header>{% include "carrot_app/nav.html" %}</header>
  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div {%if message.tags%} class="{{ message.tags}}" {% endif %}>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% include "carrot_app/nav.html" %}
  <div class="content-box">
    <div class="container column center">
      <div class="region-setting-box full-box">
        <label for="region-setting">동네 설정</label>
        <form method="POST" action="/set_region/" id="region-form">
          {% csrf_token %}
          <div class="flex-box full-box between region-input">
            <input type="text" id="region-setting" class="region-setting" name="region-setting"
              placeholder="예) 서울 강서구 화곡동" value="{% if region %}{{ region }}{% endif %}"/>
            <button type="submit" class="ghost-button orange region-setting" style="width=15%" id="set-region-button">
              {% if region %} 수정 {% else %} 저장 {% endif %}
            </button>
          </div>
        </form>
      </div>

      <div id="map" style="width:100%; height:468px; margin-top:44px;"></div>
      <h5 id="region-info">현재 위치</h5>
      <h5 id="region-judge"></h5>
      <form id="region-save-button" action="/set_region_certification/" class="full-box">
        {% csrf_token %}
        <button id="region-save-button" class="primary-button">동네인증하기</button>
      </form>
    </div>
  </div>
  <footer>{% include "carrot_app/footer.html" %}</footer>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=20408daa50c87fb6612c5ebb4c9149d7"></script>
<script type="text/javascript" src="{% static 'js/location.js' %}"></script>
</html>