{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        .my{
            margin-top: 10%;
            align-self:center;
        }
        
    </script>
    <title>마이페이지</title>
</head>
<div class="my">
{% include "carrot_app/nav.html" %}
</div>
<body>
    <div class="my">
        <p>내 매너 : </p>
        <p>내 리뷰 :</p>
        <p>내 거래 :</p>
    </div>
   
</body>
{% include "carrot_app/footer.html" %}
</html>